.container-nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 1;
    background: #000;
}

.logo{
    padding-left: 5vw;
    color: white;
}

.logo h3{
    font-size: 2rem;
}

.nav-manu ul{
    display: flex;
    gap: 70px;
    padding-right: 5vw;
}

.nav-manu ul li{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
}

.clicknav{
    display: none;
}

@media (orientation: portrait) {
    @media (min-width: 320px) and (max-width: 768px)
    {
        .container-nav{
            position: fixed;
            background: #000;
            opacity: 0.85;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 3.6vh;
            left: -100%;
            width: 100%;
            height: 100%;
            background: #000;
            transition: all 0.5s ease;
        }
        
        .navbar.active {
            left: 0;
        }
          
        .nav-manu ul{
            gap: 20px;
            padding-right: 0;
        }

        .navbar li {
            display: block;
            margin: 1em 0;
            line-height: 2em;
            text-align: center;
            font-size: 1em;
        }

        .clicknav {
            display: block;
            font-size: calc(1.6vw + 1.6vh);
            cursor: pointer;
            color: #fff;
            margin-right: 6vw;
        }
    }
}
